<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>To Dos</key>
	<array>
		<dict>
			<key>name</key>
			<string>sample todos0</string>
			<key>due date </key>
			<integer>5</integer>
			<key>tags</key>
			<array>
				<string>sampleTag4</string>
				<string>sampleTag1</string>
			</array>
			<key>notes</key>
			<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis sapien eu sagittis tincidunt. Aenean posuere mattis nisi eu varius. Aenean ultricies purus metus, non sodales magna condimentum vel. Nulla aliquam odio nisi, vel volutpat risus blandit ac. Nulla turpis diam, porta a nisi non, tempor dictum nisi. Cras pulvinar est dui, quis pharetra lorem finibus in. Praesent pharetra sem quis auctor pharetra. Proin id tortor quis nisi luctus rhoncus. Mauris placerat elementum consectetur. Duis sollicitudin tempor dui at dapibus. Curabitur a sollicitudin ante. Sed lobortis orci non elit maximus, dictum semper nulla facilisis. Quisque id ullamcorper risus.</string>
		</dict>
	</array>
	<key>Projects</key>
	<array>
		<dict>
			<key>name</key>
			<string>sample projrct one</string>
			<key>notes</key>
			<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis sapien eu sagittis tincidunt. Aenean posuere mattis nisi eu varius. Aenean ultricies purus metus, non sodales magna condimentum vel. Nulla aliquam odio nisi, vel volutpat risus blandit ac. Nulla turpis diam, porta a nisi non, tempor dictum nisi. Cras pulvinar est dui, quis pharetra lorem finibus in. Praesent pharetra sem quis auctor pharetra. Proin id tortor quis nisi luctus rhoncus. Mauris placerat elementum consectetur. Duis sollicitudin tempor dui at dapibus. Curabitur a sollicitudin ante. Sed lobortis orci non elit maximus, dictum semper nulla facilisis. Quisque id ullamcorper risus.

Sed nulla lacus, sagittis vel sem eu, sodales interdum diam. Sed ipsum elit, bibendum vitae pretium ut, volutpat at lorem. Maecenas pretium elementum purus ac consectetur. Donec tincidunt sem ac odio maximus aliquam a ac odio. Curabitur in luctus lectus. Nullam laoreet, augue vitae laoreet tempor, nunc nulla mollis odio, sed lacinia enim lectus vitae libero. Donec ut imperdiet augue. Phasellus sit amet consequat mauris. Morbi lorem odio, ultrices vitae urna ac, feugiat elementum odio. Nulla facilisi. In porta ipsum quis ligula elementum euismod eget a lectus.

Etiam molestie aliquam eleifend. Maecenas fringilla odio ex, at cursus massa imperdiet vel. Proin sollicitudin orci nec rutrum bibendum. Ut id diam ipsum. Suspendisse in mi at erat malesuada volutpat at in leo. Cras fringilla pulvinar est, sed finibus libero viverra sed. Nam malesuada pulvinar dui, sit amet elementum nibh tempor sollicitudin.

Phasellus fringilla est sed congue mollis. Nullam cursus aliquam arcu quis tincidunt. Cras vehicula purus at efficitur rhoncus. Quisque sit amet tortor tincidunt eros laoreet efficitur sed quis ligula. Phasellus maximus tellus a ornare efficitur. Mauris quis viverra dui, ornare dictum arcu. Praesent fermentum, ante in varius dictum, nisl purus pellentesque libero, at varius nunc massa quis enim. Nunc eu ipsum vel dolor blandit ultrices a quis risus. Cras et risus quis est lobortis suscipit. Aenean tempus mi eget aliquet eleifend. Mauris tincidunt metus a magna rutrum, nec convallis erat viverra. Maecenas sollicitudin efficitur egestas.

Duis at congue nisl. In pharetra vitae nibh at finibus. Aenean ullamcorper purus a ultrices consectetur. Duis sed ultricies sapien, pulvinar vestibulum libero. Donec id neque nec mi eleifend blandit at id libero. Nullam scelerisque massa quis ultrices tincidunt. Aenean condimentum rhoncus fringilla.</string>
			<key>due date</key>
			<integer>3</integer>
			<key>tags</key>
			<array>
				<string>sampleTag1</string>
				<string>sampleTag2</string>
			</array>
			<key>area</key>
			<string>sample area</string>
			<key>to dos</key>
			<array>
				<dict>
					<key>name</key>
					<string>sample todos1</string>
					<key>due date </key>
					<integer>0</integer>
					<key>tags</key>
					<array>
						<string>sampleTag3</string>
						<string>sampleTag1</string>
					</array>
					<key>notes</key>
					<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis sapien eu sagittis tincidunt. Aenean posuere mattis nisi eu varius. Aenean ultricies purus metus, non sodales magna condimentum vel. Nulla aliquam odio nisi, vel volutpat risus blandit ac. Nulla turpis diam, porta a nisi non, tempor dictum nisi. Cras pulvinar est dui, quis pharetra lorem finibus in. Praesent pharetra sem quis auctor pharetra. Proin id tortor quis nisi luctus rhoncus. Mauris placerat elementum consectetur. Duis sollicitudin tempor dui at dapibus. Curabitur a sollicitudin ante. Sed lobortis orci non elit maximus, dictum semper nulla facilisis. Quisque id ullamcorper risus.</string>
				</dict>
				<dict>
					<key>name</key>
					<string>sample todos2</string>
					<key>due date </key>
					<integer>0</integer>
					<key>tags</key>
					<array>
						<string>sampleTag2</string>
						<string>sampleTag1</string>
					</array>
					<key>notes</key>
					<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis sapien eu sagittis tincidunt. Aenean posuere mattis nisi eu varius. Aenean ultricies purus metus, non sodales magna condimentum vel. Nulla aliquam odio nisi, vel volutpat risus blandit ac. Nulla turpis diam, porta a nisi non, tempor dictum nisi. Cras pulvinar est dui, quis pharetra lorem finibus in. Praesent pharetra sem quis auctor pharetra. Proin id tortor quis nisi luctus rhoncus. Mauris placerat elementum consectetur. Duis sollicitudin tempor dui at dapibus. Curabitur a sollicitudin ante. Sed lobortis orci non elit maximus, dictum semper nulla facilisis. Quisque id ullamcorper risus.</string>
				</dict>
				<dict>
					<key>name</key>
					<string>sample todos3</string>
					<key>due date </key>
					<integer>0</integer>
					<key>tags</key>
					<array>
						<string>sampleTag3</string>
					</array>
					<key>notes</key>
					<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis sapien eu sagittis tincidunt. Aenean posuere mattis nisi eu varius. Aenean ultricies purus metus, non sodales magna condimentum vel. Nulla aliquam odio nisi, vel volutpat risus blandit ac. Nulla turpis diam, porta a nisi non, tempor dictum nisi. Cras pulvinar est dui, quis pharetra lorem finibus in. Praesent pharetra sem quis auctor pharetra. Proin id tortor quis nisi luctus rhoncus. Mauris placerat elementum consectetur. Duis sollicitudin tempor dui at dapibus. Curabitur a sollicitudin ante. Sed lobortis orci non elit maximus, dictum semper nulla facilisis. Quisque id ullamcorper risus.</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
